@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-[18px];
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-fraunces font-black;
  }
  h2 {
    @apply text-[32px] leading-[39.46px] tracking-[-0.23px] text-very-dark-desaturated-blue font-black;
  }
  h3 {
    @apply text-[28px] leading-[34.52px] tracking-[-0.2px];
  }
  p {
    @apply font-barlow font-semibold text-base leading-8 tracking-[-0.13px];
  }
  footer a {
    @apply hover:text-white;
  }

  .icon-hover:hover .social-icon {
    @apply fill-white;
  }
  .menu {
    position: relative;
    width: 329px;
    height: 329px;
    padding: 1rem;
  }

  .menu::after {
    content: "";
    position: absolute;
    top: -6%;
    right: 0;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-bottom: 20px solid white;
  }

  .menu li:hover {
    color: #24303e;
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.11px;
    background-color: #fbd600;
    border-radius: 2rem;
    padding: 0.5rem 1.25rem;
    text-transform: uppercase;
  }
  .nav-links {
    font-family: "Barlow", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: -0.13px;
    color: white;
  }

  .nav-links a {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }

  .nav-links a:hover {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.11px;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
  }

  .nav-links a.active {
    font-family: "Fraunces", serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: -0.11px;
    background-color: white;
    color: #24303E;
    text-transform: uppercase;
  }
  .link-more-yellow {
    position: relative;
  }

  .link-more-yellow::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 3px;
    width: 8rem;
    height: 0.5rem;
    border-radius: 0.125rem;
    background-color: #FAD400;
    opacity: 0.25;
  }

  .link-more-yellow:hover::after {
    opacity: 1;
  }

  .link-more-red {
    position: relative;
  }

  .link-more-red::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 3px;
    width: 8rem;
    height: 0.5rem;
    border-radius: 0.125rem;
    background-color: #fe7766;
    opacity: 0.25;
  }

  .link-more-red:hover::after {
    opacity: 1;
  }

  @screen lg {
    h2 {
      @apply text-[40px] leading-[40.32px] tracking-[-0.29px];
    }
  }
}
